* {
    margin: 0;
    padding: 0;
}
.container {
    height: 100px;
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    background-color: #EAEAEA;
}

.navbar-brand {
    height: 50px;
    width: 1080px;
    line-height: 50px;
    font-weight: bolder;
    font-family: "微软雅黑";
}
.search-form-content {
    height: 50px;
    width: 1080px;
}
#keyword {
    width: 450px;
    height: 20px;
}
.btn {
    width: 90px;
    height: 25px;
    background-color: #9AC0CD;
    border-radius: 0.5em;
    font-weight: bolder;
    font-family: "微软雅黑";
    color : #FFFFFF;
}
.page-header {
    height: 500px;
    width: 1080px;
    margin: 10px auto;
    position: relative;
}
.result-message {
    height: 50px;
    line-height: 50px;
    display: block;
    position: absolute;
    left: 30px;
}